.accordion {
  z-index: 999;
  padding: 0;
  /* align-self: flex-end; */
  left: 20;
  /* margin-top: auto; */
  font-size: 14px;
  width: 52px;
  height: auto;
  margin-top: 10px;
  margin-left: -60px;
  /* margin-top: 60px;
  margin-left: 0px; */

  position: fixed;
  font-family: Roboto, sans-serif;
}
@media screen and (max-width: 600px) {
  .accordion {
    margin-top: 65px;
    margin-left: 0px;
  }
  .accordionItem {
    color: white;
  }
}

.accordionItem {
  /* border: 1px solid #f9eacf; */
  text-align: center;
  padding: 1em 0;
  color: #f9eacf;
  border-radius: 30px;
  background-color: rgba(43, 42, 41);
  /* background-color: #f9eacf; */
  /* background-image: url("../images/bgPatternImg.png"); */
}

.accordionItemContent {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  justify-content: space-around;
}

.accordion:hover .accordionItemContent {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

.accordion:hover .accordionItem:hover .accordionItemContent {
  height: 7em;
}

.accordion .accordionItem--default .accordionItemContent {
  height: 7em;
}

.lang-item {
}

.list {
  list-style-type: none;
  padding: 0;
}
.listItem {
  margin-bottom: 0;

  /* padding-right: 10px; */
}
.link {
  text-decoration: none;
  color: #f9eacf;
}
.link:hover {
  text-decoration: none;
  color: #f9eacf;
  font-weight: bold;
}
