.accordion {
  z-index: 999;
  /* padding: 0; */
  /* align-self: flex-end; */
  left: 20;
  margin-top: auto;
  font-size: 14px;
  width: 50px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  position: fixed;
  font-family: sans-serif;
}

.accordionItem {
  text-align: center;
  padding: 1em 0;
  color: black;
  border-radius: 30px;
  /* background-color: white; */
  background-color: #f9eacf;
  /* background-image: url("../images/bgPatternImg.png"); */
}

.accordionItemContent {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

.accordion:hover .accordionItemContent {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

.accordion:hover .accordionItem:hover .accordionItemContent {
  height: 7.5em;
}

.accordion .accordionItem--default .accordionItemContent {
  height: 7.5em;
}

.lang-item {
  display: inline-block;
  padding-top: 15px;
}

.list {
  list-style-type: none;
  padding: 0;
}
.listItem {
  margin-bottom: 0;

  /* padding-right: 10px; */
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
